/** CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** CUSTOM PROPERTIES */

:root {
    --btn-blue: #3961FF;
    --bg-blue: #B4D0E7;
    --sg: 1px solid grey;
    --bb:  1px dashed black;
}


/* Generics */
body{
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}
img {
    max-width: 100%;
    display: block;
}
a {
    text-decoration: none;
}


/** UTILS */

.flex {
    display: flex;
}
.nav-content {
    text-decoration: none;
    color: black;
   
}



/* containers */
.container {
    width: 1000px;
    margin: 0 auto;
}
.big-container {
    width: 1200px;
    margin: 0 auto;
}
.box-container {
    gap: 40px;
}
.footer-container {
    width: 1300px;
    margin: 0 auto;
    align-items: center;
}

/* btn */
.blue-btn {
    background-color: var(--btn-blue);
    padding: 5px 10px;
    color: white; 
    text-decoration: none; 
    width: fit-content;
    display: inline-block;
}
.blue-btn-large {
    color: white; 
    background-color: var(--btn-blue);
    padding: 10px 0;
    width: 100%;
    text-decoration: none; 
    text-align: center;
    display: inline-block;
}
.white-btn {
    background-color: white;
    padding: 5px 10px;
    color: black;
    height: fit-content;
    text-decoration: none;
    display: inline-block;
}
.white-btn-bb {
    background-color: white;
    padding: 10px;
    color: black;
    border: 1px solid black;
    text-decoration: none;
    display: inline-block;
}

/* colors */
.grey {
    color: gray;
    padding-bottom: 10px;
}

/* bg colors */
.bg-green {
    background-color: #A2D39B;
}
.bg-purple {
    background-color: #61072B;
}
.bg-blue1 {
    background-color: #3893CE;
}
.bg-blue2 {
    background-color: #172481;
}
.bg-red1 {
    background-color: #F41C1E;
}
.bg-red2 {
    background-color: #D5001F;
}
.bg-azure {
    background-color: #B4D0E7;
}
.bg-yellow {
    background-color: #F9D82F;
}


/* Layouts */
.row {
    display: flex;
    flex-wrap: wrap;
}
.col-30 {
    flex-basis: 30%;
}
.col-50 {
    flex-basis: 50%
}
.col-70 {
    flex-basis: 70%;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-50 {
    margin-bottom: 50px;
}
.padding-top-xl {
    padding-top: 200px;
}
.padding-b {
    padding-bottom: 50px;
}
.padding {
    padding: 50px;
}

/** Main CSS */

/* Header */

header {
    background-color: white;
    height: 60px;
    padding: 20px;
    position: sticky;
    top: 0;
    right: 0;
    justify-content: space-between;
    z-index: 1;
}
.left-side-nav, .right-side-nav {
    align-items: center;
    padding: 10px;
    gap: 30px;
}
.left-side-nav img {
    width: 100px;
    height: auto;
    display: block;
}


/* Jumbotron Section */

#jumbotron {
    background-color: var(--bg-blue);

}
h1 {
    font-size: 78px;
    font-weight: 800;
    margin-bottom: 50px;
}
#jumbotron .big-container {
    position: relative;
    top: 100px;
}
.col-30 > i {
    padding-top: 20px;
}



/* Main Body */

main {
    background-color: white;
}
h2 {
    font-size: 30px;
}
.payment-container {
    height: 25px;
    gap: 20px;
    align-items: center;
    padding-bottom: 50px;
}
.payment-container > div {
    gap: 5px;
}
.dot {
    height: 15px;
    width: 15px;
    border: 1px solid grey;
    border-radius: 50%;
    display: inline-block;
    align-self: center;   
}
.selected {
    border: 3px solid dodgerblue;
}

.box-vertical {
    width: calc(100% / 3);
    flex-grow: 1;
    border: var(--sg);
}
.box-horizontal {
    width: 100%;
    border: var(--sg);
    margin-top: 40px;
    

    /* todo remove */
    height: 300px;
}
.box-upper {
    border-bottom: var(--sg);
    text-align: center;
    padding: 10px;

}
.box-main {
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    gap: 30px;
}
.fa-ul{
    line-height: 2rem;
}
.fa-ul > h3 {
    padding-bottom: 10px;
    font-size: 20px;
}
.box-main-horizontal {
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
}


.box-content {
    width: 40%;
    padding-left: 20px;
    padding-top: 50px;
    
}
.box-content > h2 {
    font-size: 25px;
    padding-bottom: 20px;
}
.box-content > p {
    padding-bottom: 30px;
}

/* Squares */

#title-business-section {
    padding: 100px 0 30px ;
}

.col {
    width: calc(100% / 3);
    flex-direction: column;
    padding: 10px;
}
.card-img {
    height: auto;
    width: 300px;
}
.card > h3 {
    padding-bottom: 20px;
}
.business-teams{
    padding: 200px 0 50px;
}

/* Clients */


#clients .squares {
    display: flex;
}
#clients .square {
    width: calc(100vw / 3);
    height: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
}
.square > .square-small {
    flex-basis: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 15px solid transparent;
}
#clients img {
    width: 50%;
}
.client-img {
    filter: invert(1);

}
.square-small:hover {
    border: 15px solid rgba(255, 255, 255, 0.5);
}

.trial-container {
    background-color: #B4D0E8;
    width: 1000;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 300px;
}
.title-trial {
    width: 50%;
    padding: 0
}

/* FAQs */

.faq {
    padding: 100px 0;
}
.faq-table {
    width: 100%;
    height: 200px;
}



/* Footer */

footer {
    background-color: black;
    color: white;


    /* todo remove */
    height: 400px;
}
.footer-info {
    align-self: center;
    width: calc(100% / 5);
    
}
.footer-info > h3 {
    padding-bottom: 20px;
}
.footer-info > ul {
    list-style: none;
    line-height: 2rem;
}