/** CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** CUSTOM PROPERTIES */

:root {
    --btn-blue: #3961FF;
    --bg-blue: #B4D0E7;
    --sg: 1px solid grey;
    --bb:  1px dashed black;
}



/** UTILS */

body{
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}
.flex {
    display: flex;
}
.nav-content {
    text-decoration: none;
    color: black;
   
}
.padding-l {
    padding-top: 100px;
}
/* containers */
.container {
    width: 1000px;
    margin: 0 auto;
}
.big-container {
    width: 1200px;
    margin: 0 auto;
}
.box-container {
    gap: 40px;
    
}
.footer-container {
    width: 1300px;
    margin: 0 auto;
    align-items: center;
}
/* btn */
.blue-btn {
    background-color: var(--btn-blue);
    padding: 5px 10px;
    color: white; 
    text-decoration: none; 
    width: fit-content;
}
.blue-btn-large {
    color: white; 
    background-color: var(--btn-blue);
    padding: 10px 0;
    width: 100%;
    text-decoration: none; 
    text-align: center;
}
.white-btn {
    background-color: white;
    padding: 5px 10px;
    color: black;
}
.white-btn-bb {
    background-color: white;
    padding: 5px 10px;
    color: black;
    border: 1px solid black;
    text-decoration: none;
}
/* colors */
.grey {
    color: gray;
    padding-bottom: 10px;
}

p {

    /* TODO to remove */
   
    border: var(--bb);
}



/** Main CSS */

/* Header */

header {
    background-color: white;
    height: 60px;
    padding: 20px;
    position: fixed;
    width: 100vw;
    justify-content: space-between;
    z-index: 1;
}
.left-side-nav, .right-side-nav {
    align-items: center;
    padding: 10px;
    gap: 30px;
}
.left-side-nav img {
    width: 100px;
    height: auto;
    display: block;
}


/* Jumbotron Section */

.jumbotron {
    padding-top: 150px;
    background-color: var(--bg-blue);
}
.main-title {
    font-size: 60px;
    padding-bottom: 20px;
    width: 70%;
}
.jumbo-box {
    position: relative;
    flex-direction: column;
}
.jumbo-p {
    width: 30%;
    height: fit-content;
    padding: 20px 0;
    right: 0;
    bottom: 0;
    
}
.preview-img {
    width: 630px;
    height: auto;
    position: absolute;
    right: 200px;
    top: 20px;

}
.jumbo-box > div {
    padding: 30px 0;
}
.jumbo-box > i {
    padding: 30px 0;
}


/* Main Body */

main {
    background-color: white;
    padding: 150px 0;
}
h2 {
    font-size: 30px;
    padding-bottom: 50px;
}
.payment-container {
    height: 25px;
    gap: 20px;
    align-items: center;
    padding-bottom: 50px;
}
.payment-container > div {
    gap: 5px;
}
.dot {
    height: 15px;
    width: 15px;
    border: 1px solid grey;
    border-radius: 50%;
    display: inline-block;
    align-self: center;   
}
.selected {
    border: 3px solid dodgerblue;
}

.box-vertical {
    width: calc(100% / 3);
    flex-grow: 1;
    border: var(--sg);
}
.box-horizontal {
    width: 100%;
    border: var(--sg);
    margin-top: 40px;
    

    /* todo remove */
    height: 300px;
}
.box-upper {
    border-bottom: var(--sg);
    text-align: center;
    padding: 10px;

}
.box-main {
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    gap: 30px;
}
.fa-ul{
    line-height: 2rem;
}
.fa-ul > h3 {
    padding-bottom: 10px;
    font-size: 20px;
}
.box-main-horizontal {
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
}


.img {
    width: 50%;
    height: auto;
    
}


/* Squares */

.row {
    width: calc(100% / 3);
    gap: 20px;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}
.col {
    flex-direction: column;
    /* todo remove */
    /* height: 300px; */
    border: var(--bb);
    /* width: calc(100% / 3); */

}
.gallery-img {
    height: auto;
    width: 300px;

}

/* Clients */

.clients-container {
    

    /* todo remove */
    height: 300px;
    border: var(--bb);
}
.clients {
    width: calc(100% / 3);
    
    
    /* todo remove */
    
    height: 300px;
    border: var(--bb);
    background-color: green;
}
.main-client {
    
    width: calc(100% / 3);


    /* todo remove */
    height: 300px;
    background-color: aqua;
    border: var(--bb);
}
.trial-container {
    background-color: #B4D0E8;


    /* todo remove */
    height: 300px;
}


/* FAQs */

.faq {
    width: 100%;
    

    /* todo remove */
    height: 200px;
    border: var(--bb);
}



/* Footer */

footer {
    background-color: black;
    color: white;


    /* todo remove */
    height: 400px;
}
.footer-info {
    align-self: center;

    /* todo remove */
    height: 200px;
    width: calc(100% / 5);
    border: 1px dashed white;
}
