/** CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** CUSTOM PROPERTIES */

:root {
    --btn-blue: #3961FF;
    --bg-blue: #B4D0E7;
    --bb: 1px dashed black;
}



/** UTILS */

body{
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}
.blue-btn {
    background-color: var(--btn-blue);
    padding: 10px;
    color: white;
}
.flex {
    display: flex;
}






/** Main CSS */

/* Header */

header {
    background-color: white;
    height: 50px;
    position: fixed;
    width: 100vw;
    justify-content: space-between;

    /* TODO to remove */
    border: var(--bb);
}
.left-side-nav, .right-side-nav {
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.nav-content {

   
}





/* Jumbotron Section */

.jumbotron {
    padding-top: 150px;
    background-color: var(--bg-blue);

    /* TODO to remove */
    height: 700px;
}
.jumbotron-container {
    width: 1300px;
    margin: 0 auto;
    flex-direction: column;
}
.main-title {
    padding-bottom: 30px;

    /* TODO to remove */
    height: 100px;
    width: 1000px;
    border: var(--bb);
}
p {

    /* TODO to remove */
    height: 100px;
    width: 200px;
    border: var(--bb);
}
.preview-img {


}


/* Main Body */

main {
    background-color: white;
}
.container {
    width: 1100px;
    margin: 0 auto;
}
h2 {


    /* TODO remove */
    height: 50px;
    width: 500px;
    border: var(--bb);
}
.payment-container {
    gap: 20px;
}
.box-container {
    
}
.box-vertical {
    width: calc(100% / 3);
    flex-grow: 1;
    
    /* TODO remove */
    border: var(--bb);
    height: 500px;
}
.box-horizontal {
    width: 100%;

    /* todo remove */
    height: 300px;
    border: var(--bb);
}